<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <!--Spring-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-servlet.xml
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--Spring-->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!--Security Constraint-->
    <security-role>
        <role-name>insertua</role-name>
    </security-role>
    <security-role>
        <role-name>updateua</role-name>
    </security-role>
    <security-role>
        <role-name>selectua</role-name>
    </security-role>
    <security-role>
        <role-name>viewua</role-name>
    </security-role>
    <security-role>
        <role-name>insertba</role-name>
    </security-role>
    <security-role>
        <role-name>updateba</role-name>
    </security-role>
    <security-role>
        <role-name>selectba</role-name>
    </security-role>
    <security-role>
        <role-name>viewba</role-name>
    </security-role>
    <security-role>
        <role-name>roleua</role-name>
    </security-role>
    <!--Security Constraint-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>viewua</web-resource-name>
            <url-pattern>/viewua/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>viewua</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>updateua</web-resource-name>
            <url-pattern>/updateua/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>updateua</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>selectua</web-resource-name>
            <url-pattern>/selectua/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>selectua</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>viewua</web-resource-name>
            <url-pattern>/viewua/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>viewua</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>insertba</web-resource-name>
            <url-pattern>/insertba/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>insertba</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>updateba</web-resource-name>
            <url-pattern>/updateba/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>updateba</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>selectba</web-resource-name>
            <url-pattern>/selectba/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>selectba</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>viewba</web-resource-name>
            <url-pattern>/viewba/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>viewba</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>roleua</web-resource-name>
            <url-pattern>/roleua/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>roleua</role-name>
        </auth-constraint>
    </security-constraint>
    <!--Security Constraint-->

    <!--error page-->
    <!--<error-page>
        <error-code>404</error-code>
        <location></location>
    </error-page>-->
<!--    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>-->
</web-app>